	body {
		font-family: Arial;
		font-size: 34px;
		text-align: center;
		margin: 50px auto 10px auto;
	}
	.chord {
		display: inline-block;
		zoom: 1; /* Trigger hasLayout */
		width: 15%;
		text-align: center;
		margin: 5px 1px;
		-webkit-border-radius: 10;
		-moz-border-radius: 10;
		border-radius: 10px;
	}
	.big {
		margin: 30px 40px;
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
	}
	.btn {
		cursor: pointer;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		/* Rules below not implemented in browsers yet */
		-o-user-select: none;
		user-select: none;
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
		background-image: -moz-linear-gradient(top, #3498db, #2980b9);
		background-image: -ms-linear-gradient(top, #3498db, #2980b9);
		background-image: -o-linear-gradient(top, #3498db, #2980b9);
		background-image: linear-gradient(to bottom, #3498db, #2980b9);
		color: #ffffff;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
	}

	.btn:hover {
		background: #3cb0fd;
		background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
		background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
		text-decoration: none;
	}
	.btn:active {
		background: #3cb0fd;
		background-image: -webkit-linear-gradient(top, #3498db, #3cb0fd);
		background-image: -moz-linear-gradient(top, #3498db, #3cb0fd);
		background-image: -ms-linear-gradient(top, #3498db, #3cb0fd);
		background-image: -o-linear-gradient(top, #3498db, #3cb0fd);
		background-image: linear-gradient(to bottom, #3498db, #3cb0fd);
		text-decoration: none;
	}
